ACCESS_TOKEN_EXPIRE_MINUTES=
API_V1_STR=
BACKEND_CORS_ORIGINS=[]
DOMAIN=
EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=
ENVIRONMENT=
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=
LOG_JSON_FORMAT=
LOG_LEVEL=
OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_ENV=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_SERVER=
POSTGRES_USER=
PROJECT_NAME=
SECRET_KEY=
SENTRY_DSN=
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_TLS=
SMTP_USER=
STACK_NAME=
STORAGE_TYPE=
TEST_USER_EMAIL=
TEST_USER_PASSWORD=
